@charset "UTF-8";

article {
	width: 90vw;
	color: #444;
	margin: 5vw auto 10vw auto;
}
article h2 {
	font-family: 'GmarketSansBold';
	font-size: 8vw;
	color: #e8a761;
	text-align: center;
}
table { 
	font-family: 'GmarketSansLight';
	width: 90vw;
	border-collapse: collapse;
	margin: 3vw auto 2vw auto;
}
th,td {
	border: 0.2vw solid #444;
	padding: 2vw;
	font-size: 4vw;
}
th { 
	background-color: #e8a761;
	color: white;
	text-align: center;
	width: 18vw;
}
td {
	padding: 2.5vw;
}
pre { font-family: 'GmarketSansLight'; }
.onelistBtn {
	text-align: right;
}
.onelistBtn input {
	font-family: 'GmarketSansLight';
	border: 0.2vw solid #e8a761;
	background-color: #e8a761;
	color: white;
	font-size: 4vw;
	text-align: center;
	padding: 1.5vw 3vw;
	margin: 1vw;
	-webkit-appearance: none;
	-webkit-border-radius: 1vw;
	cursor: pointer;
	transition: 0.3s;
}
.onelistBtn input:hover {
	background-color: white;
	color: #e8a761;
}

/* 576px 이상 tablet */
@media (min-width: 576px){
	td input {
		border: 0.2vw solid #444;
	}
}

/* 992px 이상 PC */
@media (min-width: 992px) {
	article {
		width: 890px;
		margin: 30px auto 50px auto;
	}
	article h2 {
		font-size: 64px;
		margin: 0;
	}
	table { 
		border: 1px solid #444;
		width: 880px; 
		margin: 30px auto 20px auto;
	}
	th,td {
		border: 1px solid #444;
		padding: 10px;
		font-size: 24px;
	}
	th { 
		width: 120px;
		font-size: 24px;
	}
	td { 
		font-size: 24px;
		padding: 16px 20px;
	}
	td p { 
		font-size: 24px;
	}
	.onelistBtn input {
		border: 1.5px solid #e8a761;
		border-radius: 5px;
		font-size: 24px;
		padding: 6px 10px 4px 10px;
		margin: 3px;
	}
}
