@charset "UTF-8";

article {
	width: 90vw;
	color: #444;
	margin: 5vw auto 10vw auto;
	text-align: center;
}
article h2 {
	font-family: 'GmarketSansBold';
	font-size: 8vw;
	color: #e8a761;
}
.mainBtn {
	font-family: 'GmarketSansLight';
	color: #777;
	font-size: 4vw;
	transition: 0.3s;
	cursor: pointer;
}
.mainBtn:hover {
	color: #e8a761;
}
table { 
	font-family: 'GmarketSansLight';
	width: 90%;
	margin: 0 auto;
	text-align: center;
	border-collapse: collapse;
	margin: 1vw auto; 
}
th,td {
	border: 0.2vw solid #444;
	padding: 2vw;
	font-size: 4vw;
}
th { 
	background-color: #e8a761;
	color: white;
}
th:first-child {
	width: 16vw;
}
th:last-child {
	width: 21vw;
}
td a { font-family: 'GmarketSansLight'; }
td a:hover { color: #e8a761; }
.paging {
	font-family: 'GmarketSansLight';
	margin-top: 3vw;
	text-align: center;
}

/* 576px 이상 tablet */
@media (min-width: 576px){
	
}

/* 992px 이상 PC */
@media (min-width: 992px) {
	article {
		width: 890px;
		margin: 30px auto 50px auto;
	}
	article h2 {
		font-size: 64px;
		margin: 0;
	}
	.mainBtn { font-size: 20px; }
	table { 
		width: 800px;
		margin: 30px auto 200px auto; 
	}
	th,td {
		border: 0.1px solid #444;
		padding: 5px;
		font-size: 16px;
	}
	th:first-child {
		width: 200px;
	}
	th:last-child {
		width: 240px;
	}
	.paging {
		margin-top: 20px;
	}
	
}
