@charset "UTF-8";

article {
	width: 90vw;
	margin: 5vw auto 10vw auto;
	color: #e8a761;
	text-align: center;
}
article h2 {
	font-family: 'GmarketSansBold';
	color: #e8a761;
	font-size: 9vw;
	text-align: center;
}
.qna_title input {
	margin: 5vw auto;
	width: 80vw;
	font-family: 'GmarketSansLight';
	font-size: 4.5vw;
	color: #444;
	padding: 0 0 1vw 2vw;
	border: 0.2vw solid #777;
	border-left-width:0;
	border-right-width:0;
	border-top-width:0;
	border-bottom-width:1;
	-webkit-border-radius: 0;
}
.qna_title input::placeholder {
	text-align: center;
}
.qna_title input:focus::-webkit-input-placeholder {
	color: transparent;
}
.qna_context {
	margin: 3vw auto 5vw auto;
	text-align: center;
}
.qna_context textarea {
	width: 76vw;
	height: 65vw;
	padding: 3vw;
	font-family: 'GmarketSansLight';
	font-size: 3.5vw;
	color: #444;
	border: 0.2vw solid #777;
	border-radius: 1vw;
	-webkit-appearance: none;
}
.qna_context textarea::placeholder {
	font-family: 'GmarketSansLight';
	text-align: center;
	font-size: 5vw;
}
.qna_context textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
.qna_submit {
	display: flex;
	justify-content: center;
	width: 87vw;
	margin: 0 auto;
}
.qna_submit input {
	font-family: 'GmarketSansMedium';
	padding: 2vw 0;
	margin: 2vw;
	width: 39vw;
	font-size: 6vw;
	background: #e8a761;
	color: white;
	border: 0.3vw solid #e8a761;
	border-radius: 1vw;
	cursor: pointer;
	transition: 0.3s;
}
.qna_submit input:hover {
	background-color: white;
	color: #e8a761;
}

/* 576px 이상 tablet */
@media (min-width: 576px) {
	.qna_title input {
		width: 80vw;
		margin: 4vw 0;
		font-size: 4vw;
	}
	.qna_context textarea {
		width: 76vw;
		height: 50vw;
		font-size: 3vw;
	}
	.qna_context textarea::placeholder {
		font-size: 4vw;
		padding-top: 23vw;
	}
	.qna_submit {
		width: 86vw;
	}
	.qna_submit input {
		width: 40vw;
		font-size: 5vw;
		padding: 0;
		height: 12vw;
	}
}

/* 992px 이상 PC */
@media (min-width: 992px) {
	article {
		width: 860px;
		margin: 20px auto 58px auto;
	}
	article h2 { font-size: 64px; }
	.qna_title {
		padding: 0;
		text-align: center;
	}
	.qna_title input {
		width: 750px;
		margin: 40px auto;
		font-size: 28px;
		padding: 0 0 0 12px;
		border: 1px solid #444;
		border-left-width:0;
		border-right-width:0;
		border-top-width:0;
		border-bottom-width:1;
	}
	.qna_context {
		margin: 20px auto 0 auto;
	}
	.qna_context textarea {
		width: 700px;
		height: 360px;
		font-size: 24px;
		margin: 0 0 20px 0;
		padding: 24px 32px;
		border: 1px solid #444;
		border-radius: 5px;
	}
	.qna_context textarea::placeholder {
		font-size: 32px;
		padding-top: 90px;
	}
	.qna_submit { width: 820px; }
	.qna_submit input {
		font-size: 40px;
		padding: 12px 10px 7px 10px;
		height: 92px;
		width: 365px;
		margin: 20px;
		border: 2px solid #e8a761;
		border-radius: 5px;
	}
}
